@model ValaisBooking2020.Models.BookingEndViewModel

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<div>
    <h4>BookingEndViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.confirmationMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.confirmationMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.referenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.referenceNumber)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
