@model ValaisBooking2020.Models.BookingConfirmationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>BookingConfirmationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Booking" asp-action="Details" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label">@Html.DisplayNameFor(model => model.Reference)</label>
                <input asp-for="Reference" class="form-control" /> @Html.DisplayNameFor(model => model.Reference)
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" /> @Html.DisplayNameFor(model => model.CheckIn)
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" /> @Html.DisplayNameFor(model => model.CheckOut)
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" /> @Html.DisplayNameFor(model => model.Firstname)
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" /> @Html.DisplayNameFor(model => model.Lastname)
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" /> @Html.DisplayNameFor(model => model.Amount)
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRoom" class="control-label"></label>
                <input asp-for="IdRoom" class="form-control" /> @Html.DisplayNameFor(model => model.IdRoom)
                <span asp-validation-for="IdRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

