@model IEnumerable<DTO.Room>

@{
    ViewData["Title"] = "Details";
}

<h1>Liste des chambres</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Num. Chambre
            </th>
            <th>
                Type
            </th>
            <th>
                Prix
            </th>
            <th>
                Tv
            </th>
            <th>
                Sèche-cheveux
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasHairDryer)
            </td>
            <td>
                @Html.ActionLink("Picture", "Picture", new { id = item.IdRoom }) 
            </td>
        </tr>
}
    </tbody>
</table>
