@model IEnumerable<DTO.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des hotels</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Ville
            </th>
            <th>
                Catégorie
            </th>
            <th>
                Wifi
            </th>
            <th>
                Parking
            </th>
            <th>
                Téléphone
            </th>
            <th>
                Email
            </th>
            <th>
                Website
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasWifi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasParking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.ActionLink("Rooms", "Details", new { id=item.IdHotel }) 
            </td>
        </tr>
}
    </tbody>
</table>
